:root{
    --color1: #5E3023;
    --color2: #F3E9DC;
    --color3: #220901;
    --color4: #c08552a1;
    --color5: #C08552;
}
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--color2);
    color:var(--color1);
    font-family: monospace;
    height: 100%;
    width: 100%;
    z-index: 0;
}
/*****Header******/
header{
    height: 15vh;
    width: 100%;
    background-color: var(--color1);
    color: var(--color2);
    position: fixed;
    z-index: 1;
}
#typography{
    position: relative;
        top: 20px;
        left: 20px;
    margin: 0;
    font-size: 2.5rem;
    z-index: 1;
}
nav{
    margin-top: 10px;
    position: absolute;
        top: 30px;
        right: 20px;
    font-size: 1.1rem;
    z-index: 1;
}
nav a{
    padding-top: 20px;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    display: inline;
}
nav a:hover{
    background-color: var(--color2);
    color: var(--color3);;
}
/*******Banner****/
#banner{
    background-image: url("../img/pexels-tony-schnagl-5588479.jpg");
    background-size:cover;
    background-position: top center;
    font-weight: bold;
    color: var(--color3);;
    position: relative;
        top:0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
#banner p{
    margin: auto;
    text-align: center;
    position: relative;
        top: 50%;
    font-size: 3rem;
    color: var(--color3);;
    z-index: 1;
}
.filter{
    height: 100%;
    width: 100%;
    background-color: var(--color4);;
    position: absolute;
        top:0;
}
/****Content******/

#content{
    position: relative;
    padding: 15vw;
    font-size: 1.5rem;
}

.letUs{
    float: left;
    width: 100%;
    text-align: center;
}
.letUs a, button:hover, input[type="submit"]{
    text-decoration: none;
    color: var(--color2);
    padding: 10px;
    background-color: var(--color1);
    border: none;
}
.letUs a:hover, button:hover, input[type="submit"]:hover{
    background-color: var(--color3);
}
#content article{
    padding-top: 20vh;
    min-height: 60vh;
    height: fit-content;
    width: 50vw;
}
#content article:nth-child(odd){
    text-align: left;
    float: left;
    width: 50%;
  }
#content article:nth-child(even){
    text-align:right;
    float: right;
    width: 51%;
}
#content article p{
    margin-right:0;
}
#content h1{
    color:var(--color3);;
    text-align: center;
}
.centeredParagraph{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.cardContainer{
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 3em;
}
.teamCard{
    text-align: center;
    flex: 1;
}
.teamCard img{
    width: 100px;
    aspect-ratio: 100px;
}

/****Footer*****/
footer{
    margin-top: 20px;
    min-height: 20vh;
    width: 100%;
    float: left;
    background-color: var(--color1);
}